<div class="container">
    <app-error-alert *ngIf="userService.error"></app-error-alert>
    <table class="table">
        <caption>List of users</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">IBAN</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody *ngIf="userService.userList$ | async as users; else loading">            
            <tr *ngFor="let user of users; trackBy: trackByFn">
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.iban }}</td>
                <td>
                    <button 
                        [disabled]="user.creator !== creator"
                        class="btn btn-outline-primary btn-out" 
                        (click)="edit(user)">
                            Edit
                    </button>
                </td>
                <td>
                    <button 
                        [disabled]="user.creator !== creator"
                        class="btn btn-outline-primary btn-out" 
                        (click)="delete(user.id)">
                            Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <tr>
        <th colspan="6">
            <div class="text-center m-5" *ngIf="userService.loading; else nothing">
                <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </th>
    </tr>
</ng-template>

<ng-template #nothing>
    <div class="text-center">Nothing to display</div>
</ng-template>